<!DOCTYPE html>
<html lang="en" dir="ltr">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>

  <body>
  <div class ="row">
    <div class="column" style="background-color:#aaa;">
      <h1> CS361 Budget App </h1>
      <p> Welcome to my app! </p>
      <input type="button" value="Open a Popup Window" onclick="window.open('https://cs361budgetapp.herokuapp.com/calculator','popup','width=300,height=300')">
      <p> Instructions: Please enter the amount you earn every month in each respective category.  Click "Calcuate monthly income" to see your total monthly income.</p>
    </body>

    <h2>Monthly Income:</h2>

    <form>
      <label for="paycheck">Paycheck (after-tax):</label>
      <input type="number" id="paycheck" name="paycheck" value = 0><br><br>
      <label for="otherincome">Other Income:</label>
      <input type="number" id="otherincome" name="otherincome" value = 0><br><br>
      <input type="button" onclick="calcIncome(document.getElementById('paycheck').value, document.getElementById('otherincome').value)" value="Calculate monthly income">
    </form>

    <p>Total monthly income:</p>

    <p id = "monIncome"></p>
    <p> Instructions: Please enter the amount you spend every month in each respective category.  Click "Calcuate monthly spending" to see your total monthly spending.  You will also see the graphical breakdown of your monthly spending on the right column.</p>
    <h2>Monthly Spending:</h2>

    <form>
      <label for="housing">Housing:</label>
      <input type="number" id="housing" name="housing" value = 0><br><br>
      <label for="utilities">Utilities:</label>
      <input type="number" id="utilities" name="utilities" value = 0><br><br>
      <label for="transportation">Transportation:</label>
      <input type="number" id="transportation" name="transportation" value = 0><br><br>
      <label for="food">Food:</label>
      <input type="number" id="food" name="food" value = 0><br><br>
      <label for="debt">Loan/debt repayment:</label>
      <input type="number" id="debt" name="debt" value = 0><br><br>
      <label for="other">Other:</label>
      <input type="number" id="other" name="other" value = 0><br><br>
      <input type="button" onclick="calcSpending(document.getElementById('housing').value, document.getElementById('utilities').value, document.getElementById('transportation').value, document.getElementById('food').value, document.getElementById('debt').value, document.getElementById('other').value)" value="Calculate monthly spending">
    </form>

    <p>Total monthly spending:</p>
    <p id = "monSpending"></p>
    <p> Instructions: Click on "Calculate total net gain/loss" to see your monthly net gain or loss.</p>
    <h2>Monthly Net Gain/Loss:</h2>

    <form>
      <input type="button" onclick="calcTotal()" value="Calculate total net gain/loss">
    </form>

    <p id = "total"></p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <canvas id="barChart" style="width:100%;max-width:600px"></canvas><br><br><br><br>
    <canvas id="pieChart" style="width:100%;max-width:600px"></canvas>
  </div>
</div>

<script type="text/javascript" src="../static/calculate.js"></script>   
</html>